@import url('https://fonts.googleapis.com/css2?family=Sniglet:wght@400;800&display=swap');

html {
    font-size: clamp(14px, 1vw + 10px, 18px);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: boder-box;
    overflow: hidden;
    user-select: none;
    -webkit-user-drag: none;
}

:root {
    --bg: #08090E;
    --fg: white;
    --primary: #37005E40;
    --accent: gray;
}

body {
    background-color: var(--bg);
    color: var(--fg);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: "Sniglet", system-ui;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

header h1 {
    font-size: clamp(2.5rem, 4vw + 1rem, 4rem);
    font-weight: 500;
    text-align: center;
}

ul {
    display: flex;
    gap: 3rem;
    align-items: center;
}

a {
    cursor: pointer;
}

ul > li img {
    width: 3rem;
    height: auto;
    
}

footer {
    width: min(90%, 60rem);
    height: 10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 2rem;
    margin: 0 auto;
}

hr {
    border: 1px solid var(--accent);
    outline: none;
    height: auto;
    width: 30%;
    border-radius: 100rem;
}

footer > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer span {
    color: var(--accent);
    height: max-content;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: clamp(0.75rem, 1vw, 1rem);
}

.linear-effect {
    z-index: -1000;
    background-color: var(--primary);
    width: 100vw;
    height: 34.375rem;
    filter: blur(100rem);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.grid-bg {
    z-index: -1000;
    width: 100%;
    height: 100vh;
    background-color: #0a0a0a;

    background-image:
        repeating-linear-gradient(
            to right,
            rgba(255,255,255,0.05) 0,
            rgba(255,255,255,0.05) 1px,
            transparent 1px,
            transparent 40px
        ),
        repeating-linear-gradient(
            to bottom,
            rgba(255,255,255,0.05) 0,
            rgba(255,255,255,0.05) 1px,
            transparent 1px,
            transparent 40px
        ),
        radial-gradient(
            circle at center,
            rgba(255,255,255,0.02) 0%,
            rgba(255,255,255,0) 70%
        );
}

#tooltip {
    position: fixed;
    padding: 6px 10px;
    background: rgba(20, 20, 20, 0.9);
    color: white;
    font-size: 13px;
    border-radius: 4px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.15s ease;
    white-space: nowrap;
    z-index: 1000;
    font-size: clamp(0.7rem, 1vw, 0.9rem);
    max-width: 90vw;
}
